.p-inputtextarea {
	max-height: 100% !important;
}
.p-inputtext {
	width: 100%;
	max-width: 100% !important;
}

.custInp {
	min-width: 100% !important;
	width: 100%;
	max-width: 100% !important;
	max-height: 18px;
	font-size: 12px;
	color: gray;
	border-radius: 6px !important;
}

.p-selectbutton.p-buttonset .p-button:focus {
	background-color: transparent;
}
.p-selectbutton.p-buttonset .p-button {
	margin-right: 4px;
	width: 40px;
	font-size: 9px;
	padding: 6px 13px 4px 13px;
	border-radius: 25px;
	display: inline;
}
.p-selectbutton.p-buttonset .p-button.p-highlight {
	background-color: white;
	border: 1px solid #a45be4;
}
.p-buttonset .p-button:not(:first-of-type):not(:last-of-type) {
	border-radius: 25px;
	display: inline;
}
.p-multiselect .p-multiselect-label.p-placeholder {
	padding: 2px 10px;
	font-size: 12px;
}
.p-multiselect
	.p-multiselect-label
	> .p-multiselect-token
	> .p-multiselect-token-label {
	padding: 2px 10px;
	font-size: 12px;
}
.p-multiselect .p-multiselect-label > .p-multiselect-token {
	padding: 2px 10px;
	font-size: 12px;
}
.spech .p-inputtext {
	max-height: 55px !important;
}
.p-input-icon-left > i:first-of-type,
.p-input-icon-left > svg:first-of-type,
.p-input-icon-left > .p-input-prefix {
	color: rgba(0, 0, 0, 0.3) !important;
}
div[class*="ReactFlagsSelect-module_selectValue_"] {
	border-radius: 25px !important;
}
div[class*="ReactFlagsSelect-module_selectValue__152eS"] {
	font-size: 12px !important;
}
.ReactFlagsSelect-module_flagsSelect__2pfa2
	.ReactFlagsSelect-module_selectBtn__19wW7
	.ReactFlagsSelect-module_selectValue__152eS {
	font-size: 12px !important;
}

.ReactFlagsSelect-module_flagsSelect__2pfa2
	.ReactFlagsSelect-module_selectOptions__3LNBJ {
	font-size: 12px;
}
.p-selectbutton.p-buttonset .p-button .pi {
	font-size: 12px !important;
}
.p-checkbox .p-checkbox-box {
	border: 1px solid #757575;
	background: #ffffff;
	width: 15px;
	height: 15px;
	color: rgba(0, 0, 0, 0.87);
	border-radius: 3px;
	padding: 0px;
}
.p-checkbox {
	width: 15px !important;
	height: 15px !important;
	border-radius: 0% !important;
	transition: none !important;
}

.p-checkbox .p-checkbox-box {
	border-radius: 3px;
}
.p-dropdown .p-dropdown-label {
	padding-top: 7px;
	padding-bottom: 25px;
}
.p-checkbox .p-checkbox-box.p-highlight {
	background: linear-gradient(to right, #a45be4 0%, #6b42f6 80%);
	color: white;
	border: 1px solid #6b42f6;
}
.p-checkbox {
	margin-bottom: 1px !important;
}
.button-background .p-button:hover {
	background: linear-gradient(to right, #a45be4 0%, #6b42f6 80%) !important;
	color: white !important;
	border: 1px solid #6b42f6 !important;
}
