@import url("https://fonts.googleapis.com/css?family=Work Sans");

body {
	margin: 0;
	font-family: "Work Sans" !important;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: #e7e7e7;
	overflow-x: hidden;
	color: #333 !important;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}
